.wrapper {
    -webkit-box-shadow: 13px 6px 51px -15px rgba(0,0,0,0.61);
    -moz-box-shadow: 13px 6px 51px -15px rgba(0,0,0,0.61);
    box-shadow: 13px 6px 51px -15px rgba(0,0,0,0.61);
    align-items: center;
}